<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Registro de empresas</h5>
                <p class="card-text">Esta opción lo llevara al formulario de registro de empresas.</p>
                <button (click)="registrarEmpresa()" class="btn btn-outline-primary btn-block">Registrar empresa</button>
                <button (click)="consultarEmpresa()" class="btn btn-outline-primary btn-block">Consultar empresa</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Registro de empleados</h5>
                <p class="card-text">Esta opción lo llevara al formulario de registro de empleados.</p>
                <button (click)="registrarEmpleado()" class="btn btn-outline-primary btn-block">Registrar empleado</button>
                <button (click)="consultarEmpleado()" class="btn btn-outline-primary btn-block">Consultar empleado</button>
            </div>
        </div>
    </div>
</div>